---
import Layout from '../layouts/Layout.astro';
import MainTabular from '../components/MainTabular.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<MainTabular>
			<p>
				拙者親方と申すは、お立会いのうちにご存知のおかたもござりましょうが、お江戸を発って二十里上方、相州小田原一色町をお過ぎなされて、青物町へ登りお出でなさるれば、欄干橋虎屋藤右衛門ただ今は剃髪いたして円斉と名乗りまする。<br>
				元朝より大晦日まで、お手に入れまする此の薬は、むかし陳の国の唐人、外郎という人、わが朝へ来たり。帝へ参内の折から、此の薬を深く籠めおき、用ゆるときは一粒ずつ、冠の伱間より取り出だす。<br>
				よって、その名を帝より「とうちんこう」と賜る。<br>
				すなわち、文字には「頂き、透く、香い」と書いて、「とうちんこう」と申す。<br>
				ただ今は此の薬、殊の外世上に広まり、方々に偽看板を出し、イヤ、小田原の、灰俵の、さん俵の、炭俵のと色々に申せども、平仮名を持って「ういろう」と記せしは、親方円斉ばかり。<br>
				もしやお立会いのうちに、熱海か塔の沢へ湯治にお出でなさるるか、または伊勢御参宮の折からは、必ず門違いなされまするな。<br>
				お登りならば右の方、お下りなれば左側、八方が八つ棟、表が三つ棟玉堂造り破風には菊の桐のとうの御紋を御赦免あって、系図正しき薬でござる。<br>
				イヤ、最前より家名の自慢ばかり申しても、ご存知ない方には正身の胡椒の丸呑み、白河夜船、さらば一粒食べかけて、その気見合いをお目にかけましょう。<br>
				まず、この薬をかように舌の上にのせまして、腹内へ納めますると、イヤ、どうも言えぬは、胃、心、肺、肝がすこやかになりて、薫風喉より来たり、口中微涼を生ずるがごとし。魚鳥、茸、麺類の食い合わせ、その他万病速効あること神のごとし。<br>
				さて、この薬、第一の奇妙には舌のまわることが銭独楽がはだしで逃げる。ひょっと舌がまわり出すと、矢も楯もたまらぬじゃ。<br>
			</p>
		</MainTabular>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    p {
        line-height: 1.6;
    }
</style>